@import 'mixins';

.wf-grey {
  &.bg-1 {
    background-color: $grey-primary;
  }
  &.text-1 {
    color: $grey-primary;
  }
  &.bg-2 {
    background-color: $grey-secondary;
  }
  &.text-2 {
    color: $grey-secondary;
  }
  &.bg-3 {
    background-color: $grey-accent;
  }
  &.text-3 {
    color: $grey-accent;
  }
}

.wf-blue {
  &.bg-1 {
    background-color: $blue-primary;
  }
  &.text-1 {
    color: $blue-primary;
  }
  &.bg-2 {
    background-color: $blue-secondary;
  }
  &.text-2 {
    color: $blue-secondary;
  }
  &.bg-3 {
    background-color: $blue-accent;
  }
  &.text-3 {
    color: $blue-accent;
  }
}

.wf-red {
  &.bg-1 {
    background-color: $red-primary;
  }
  &.text-1 {
    color: $red-primary;
  }
  &.bg-2 {
    background-color: $red-secondary;
  }
  &.text-2 {
    color: $red-secondary;
  }
  &.bg-3 {
    background-color: $red-accent;
  }
  &.text-3 {
    color: $red-accent;
  }
}

.wf-green {
  &.bg-1 {
    background-color: $green-primary;
  }
  &.text-1 {
    color: $green-primary;
  }
  &.bg-2 {
    background-color: $green-secondary;
  }
  &.text-2 {
    color: $green-secondary;
  }
  &.bg-3 {
    background-color: $green-accent;
  }
  &.text-3 {
    color: $green-accent;
  }
}

