@import 'mixins';


.no-wrap {
  white-space: nowrap;
}
body {
  background-color: $blue-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  color: $blue-font;
  margin:0px;
  //font-family: 'Berkshire Swash', serif;
  //font-family: 'Dancing Script', cursive;
  //font-family: 'Lobster', sans-serif;
  //font-family: 'Lugrasimo', cursive;
  //font-family: 'Lumanosimo', cursive;
}
.lobster-font {
  font-family: 'Lobster', sans-serif;
}
.lumanosimo-font {
  font-family: 'Lumanosimo', cursive;

}

label{
  color: $white;
}

a{
  @include color-change($blue-accent)
}

#page > .card-link > a {
  @include color-change($blue-primary)

}

.card-panel .card-link {
  @include color-change-dark($blue-secondary)
}

.react-dark {
  @include bg-color-change-dark($blue-accent)
}
.rounded {
  border-radius: 8px !important;
}
.rounded > img {border-radius: 8px;}
//.card-link {
//  @include color-change-dark($blue-secondary)
//}